# Core functionality - changes here should be rare!
/src/app.py                   @Lomar5115
/src/backend/database.py      @Lomar5115
/src/backend/routers/auth.py  @Lomar5115

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Lomar5115
